@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #020202;
  font-weight: 400;
  font-size: 16px;
  background: #020202;
}

.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}

.font-xxs {
  font-size: 12px;
}
.font-xs {
  font-size: 16px;
}
.font-sm {
  font-size: 20px;
}
.font-md {
  font-size: 32px;
}
.font-lg {
  font-size: 48px;
}
.font-xl {
  font-size: 80px;
}
.font-xxl {
  font-size: 120px;
}

.color-w {
  color: #ffffff;
}
.color-f2 {
  color: #f2f2f2;
}
.color-gray {
  color: rgb(145, 145, 145);
}

.mr-xs {
  margin-right: 4px;
}
.mr-sm {
  margin-right: 6px;
}
.mr-md {
  margin-right: 16px;
}
.mr-lg {
  margin-right: 20px;
}
.mr-xl {
  margin-right: 24px;
}

.mb-xxs {
  margin-bottom: 8px;
}
.mb-xs {
  margin-bottom: 12px;
}
.mb-ms {
  margin-bottom: 16px;
}
.mb-sm {
  margin-bottom: 20px;
}
.mb-md {
  margin-bottom: 22px;
}
.mb-lg {
  margin-bottom: 24px;
}
.mb-xl {
  margin-bottom: 40px;
}
.mb-xxl {
  margin-bottom: 48px;
}
.mb-3xl {
  margin-bottom: 80px;
}
.mb-4xl {
  margin-bottom: 100px;
}
.mb-5xl {
  margin-bottom: 160px;
}
.mb-6xl {
  margin-bottom: 238px;
}

.mt-xs {
  margin-top: 20px;
}
.mt-sm {
  margin-top: 40px;
}
.mt-md {
  margin-top: 80px;
}
.mt-lg {
  margin-top: 160px;
}

.ml-md {
  margin-left: 48px;
}

.pr-sm {
  padding-right: 20px;
}

.pt-xs {
  padding-top: 16px;
}
.pt-sm {
  padding-top: 20px;
}

.pb-xs {
  padding-bottom: 16px;
}
.pb-md {
  padding-bottom: 40px;
}

.my-sm {
  margin-top: 12px;
  margin-bottom: 24px;
}
.my-xl {
  margin-top: 160px;
  margin-bottom: 160px;
}

.px-xxs {
  padding-left: 12px;
  padding-right: 12px;
}
.px-xs {
  padding-left: 20px;
  padding-right: 20px;
}
.px-sm {
  padding-left: 32px;
  padding-right: 32px;
}
.px-md {
  padding-left: 35px;
  padding-right: 35px;
}
.px-lg {
  padding-left: 40px;
  padding-right: 40px;
}
.px-xl {
  padding-left: 76px;
  padding-right: 76px;
}

.py-xs {
  padding-top: 14px;
  padding-bottom: 14px;
}
.py-sm {
  padding-top: 20px;
  padding-bottom: 20px;
}
.py-md {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-lg {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py-xl {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-xxl {
  padding-top: 160px;
  padding-bottom: 160px;
}

.br-sm {
  border-radius: 16px;
}
.br-xl {
  border-radius: 160px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex-jfsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.d-flex-align-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mouse-h {
  cursor: pointer;
}

.big-white {
  max-width: 1920px;
  background: #ffffff;
}
@media (max-width: 992px) {
  .big-white {
    border-radius: 100px;
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .big-white {
    border-radius: 80px;
  }
}

.container {
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 12px;
  }
}

.font-tac {
  text-align: center;
}

.content-p-font {
  font-size: 14px;
  color: #525252;
}

.title-font-900 {
  font-weight: 900;
  line-height: 1.2;
}

.card-icon {
  color: #020202;
  font-size: 18px;
}

.card-br {
  border: 1px solid #f2f2f2;
}

.btn {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 32px 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.btn:hover {
  border-color: #525252;
}

.btn-font {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.btn-icons {
  padding-left: 16px;
  font-size: 20px;
}

.btn-start {
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.Pricing-card {
  border: 1px solid #525252;
  border-radius: 16px;
}

.img-style {
  width: 160px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-frame {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

@-webkit-keyframes decomove {
  0% {
    top: 0px;
  }
  30% {
    top: -300px;
  }
  40% {
    opacity: 0.01;
  }
  50% {
    top: 400px;
  }
  80% {
    top: 0px;
  }
}

@keyframes decomove {
  0% {
    top: 0px;
  }
  30% {
    top: -300px;
  }
  40% {
    opacity: 0.01;
  }
  50% {
    top: 400px;
  }
  80% {
    top: 0px;
  }
}
.header {
  border-bottom: 2px solid #ffffff;
  margin-bottom: 80px;
  position: relative;
}
.header-logo a {
  display: block;
  width: 190px;
  height: 40px;
  background-size: 189px 40px;
  background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/9d0ceff5ed470b504331b8d897ea8518b8f163cd/2023web-camp/logo.png");
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-meau {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .header-meau {
    display: none;
  }
}
.header-btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  display: none;
  /* 在電腦版時不顯示 */
}
.header-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 992px) {
  .header-btn {
    display: block;
  }
}
.header-collapse {
  display: none;
  /* 在電腦版時不顯示 */
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #020202;
}
@media (max-width: 992px) {
  .header .header-collapse.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
  }
  .header .header {
    border-bottom: 2px solid #ffffff;
  }
  .header .ham-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .footer {
    border-top: 1px solid #ffffff;
    width: 100%;
  }
}

.sitemap {
  border-bottom: 2px solid #919191;
}
@media (max-width: 768px) {
  .sitemap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 60px 0;
  }
}
.sitemap-list {
  color: #ffffff;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .sitemap-list {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .sitemap-list {
    font-size: 40px;
  }
}
.sitemap-log {
  text-align: end;
}
.sitemap-log img {
  max-width: 50%;
}
@media (max-width: 768px) {
  .sitemap-log {
    text-align: start;
    margin-bottom: 32px;
  }
  .sitemap-log img {
    max-width: 40%;
  }
}

.footer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer-copyright {
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 768px) {
  .footer-copyright {
    margin-bottom: 24px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.footer-social {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}
.footer-social li a:hover {
  color: #919191;
}
@media (max-width: 768px) {
  .footer-social {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.footer-top {
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background: #020202;
  border: 2px solid #020202;
  font-size: 16px;
  cursor: pointer;
}
.footer-top:hover {
  color: #919191;
}
@media (max-width: 768px) {
  .footer-top {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 992px) {
  .tools-h2 {
    font-size: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .tools-h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.tools-input-icon {
  position: relative;
  width: 100%;
}
.tools-input-icon .icon {
  position: absolute;
  left: 43px;
  top: calc(100% - 65px);
  color: #919191;
}
.tools-input-icon .search {
  width: 100%;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  color: #919191;
}
.tools-search {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .tools-search {
    margin-bottom: 12px;
  }
}
.tools-search-btn-filter {
  position: relative;
}
@media (max-width: 992px) {
  .tools-search-btn-filter {
    margin-bottom: 12px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.tools-search-btn-dropdown {
  position: relative;
}
@media (max-width: 992px) {
  .tools-search-btn-dropdown {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.tools-search .all-model {
  position: absolute;
  left: 10px;
  display: none;
  margin-top: 4px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 32px 20px 40px;
  border-radius: 16px;
  background-color: #ffffff;
  z-index: 1;
  width: 240px;
}
.tools-search .all-model.show {
  display: block;
}
.tools-search .all-model .all-model-title {
  color: #919191;
}
.tools-search .filter-ai-model {
  border-bottom: 1px solid #f2f2f2;
}
.tools-search .model:hover {
  background-color: #f2f2f2;
}
.tools-search .check {
  display: none;
}
.tools-search .check.show {
  display: block;
}
.tools-search .dropdown-menu {
  position: absolute;
  right: 10px;
  display: none;
  margin-top: 4px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 16px;
  background-color: #ffffff;
  z-index: 1;
}
.tools-search .dropdown-menu.show {
  display: block;
}
.tools-search .dropdown-menu a {
  padding: 4px 40px;
  color: #020202;
}
.tools-search .dropdown-menu a:hover {
  background-color: #f2f2f2;
}
.tools-search-list {
  padding: 8px 16px;
  overflow-x: auto;
}
@media (max-width: 992px) {
  .tools-search-list {
    width: 90%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 768px) {
  .tools-search-list {
    width: 100%;
  }
}
.tools-search-list li {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .tools-search-list li {
    white-space: nowrap;
  }
}
.tools-search-list li a {
  color: #919191;
}
.tools-search-list li a:hover {
  color: #020202;
  font-weight: 700;
}
.tools-search-list .one-black {
  background: #f2f2f2;
}
.tools-search-list .one-black a {
  color: #020202;
}

.list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992px) {
  .list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  .list {
    margin-bottom: 32px;
  }
}

.card {
  width: 31%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1400px) {
  .card {
    width: 33%;
  }
}
@media (max-width: 992px) {
  .card {
    width: 40%;
    margin-bottom: 12px;
  }
}
@media (max-width: 768px) {
  .card {
    width: 85%;
    margin-bottom: 12px;
  }
}
.card .img {
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}
@media (max-width: 768px) {
  .card .img img {
    width: 100%;
  }
}
.card .img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card .list-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.card .list-ai,
.card .list-text {
  border-top: 1px solid #f2f2f2;
}

.pagination {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.pagination li a {
  color: #020202;
}
.pagination li a:hover {
  color: #919191;
}
.pagination .one-black {
  background: #020202;
}
.pagination .one-black a {
  color: #ffffff;
}

/* main */
@media (max-width: 992px) {
  .banner-h2 {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .banner-h2 {
    font-size: 48px;
  }
}
.banner-start {
  display: block;
  max-width: 160px;
  text-align: center;
}
.banner-start:hover {
  background: #ffffff;
  color: #020202;
}
.banner-animation {
  text-align: end;
  overflow: hidden;
}
.banner-animation .deco-img-1,
.banner-animation .deco-img-2,
.banner-animation .deco-img-3 {
  position: relative;
}
.banner-animation .deco-img-1 {
  -webkit-animation: 5s ease-in-out infinite 3.5s;
          animation: 5s ease-in-out infinite 3.5s;
  -webkit-animation-name: decomove;
          animation-name: decomove;
}
.banner-animation .deco-img-2 {
  -webkit-animation: 5s ease-in-out infinite 2.5s;
          animation: 5s ease-in-out infinite 2.5s;
  -webkit-animation-name: decomove;
          animation-name: decomove;
}
.banner-animation .deco-img-3 {
  -webkit-animation: 5s ease-in-out infinite 1.5s;
          animation: 5s ease-in-out infinite 1.5s;
  -webkit-animation-name: decomove;
          animation-name: decomove;
}
@media (max-width: 768px) {
  .banner-animation {
    text-align: center;
  }
  .banner-animation img {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .service-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 40px;
  }
}
.service-title-h2 {
  max-width: 414px;
}
@media (max-width: 992px) {
  .service-title-h2 {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .service-title-h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
.service-title-h3 {
  max-width: 856px;
}
@media (max-width: 992px) {
  .service-title-h3 {
    font-size: 40px;
    width: 60%;
  }
}
@media (max-width: 768px) {
  .service-title-h3 {
    font-size: 32px;
    width: 90%;
  }
}
@media (max-width: 992px) {
  .service-list {
    padding: 20px 20px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .service-list {
    width: 100%;
    margin-top: 40px;
    padding: 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.service-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #525252;
  width: 33%;
}
@media (max-width: 992px) {
  .service-list li {
    margin-right: 12px;
    padding: 40px 20px;
  }
}
@media (max-width: 768px) {
  .service-list li {
    padding: 40px 40px;
    width: 90%;
    margin-bottom: 12px;
  }
}

@media (max-width: 992px) {
  .partner-title {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .partner-title {
    font-size: 20px;
  }
}
.partner-list {
  overflow: hidden;
  position: relative;
}
.partner-list ::before {
  content: "";
  width: 196px;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#020202), color-stop(11.79%, rgba(2, 2, 2, 0.991615)), color-stop(21.38%, rgba(2, 2, 2, 0.967585)), color-stop(29.12%, rgba(2, 2, 2, 0.9296)), color-stop(35.34%, rgba(2, 2, 2, 0.879348)), color-stop(40.37%, rgba(2, 2, 2, 0.818519)), color-stop(44.56%, rgba(2, 2, 2, 0.7488)), color-stop(48.24%, rgba(2, 2, 2, 0.671881)), color-stop(51.76%, rgba(2, 2, 2, 0.589452)), color-stop(55.44%, rgba(2, 2, 2, 0.5032)), color-stop(59.63%, rgba(2, 2, 2, 0.414815)), color-stop(64.66%, rgba(2, 2, 2, 0.325985)), color-stop(70.88%, rgba(0, 0, 0, 0.2384)), color-stop(78.62%, rgba(2, 2, 2, 0.153748)), color-stop(88.21%, rgba(2, 2, 2, 0.0737185)), to(rgba(2, 2, 2, 0)));
  background-image: linear-gradient(90deg, #020202 0%, rgba(2, 2, 2, 0.991615) 11.79%, rgba(2, 2, 2, 0.967585) 21.38%, rgba(2, 2, 2, 0.9296) 29.12%, rgba(2, 2, 2, 0.879348) 35.34%, rgba(2, 2, 2, 0.818519) 40.37%, rgba(2, 2, 2, 0.7488) 44.56%, rgba(2, 2, 2, 0.671881) 48.24%, rgba(2, 2, 2, 0.589452) 51.76%, rgba(2, 2, 2, 0.5032) 55.44%, rgba(2, 2, 2, 0.414815) 59.63%, rgba(2, 2, 2, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(2, 2, 2, 0.153748) 78.62%, rgba(2, 2, 2, 0.0737185) 88.21%, rgba(2, 2, 2, 0) 100%);
  position: absolute;
  left: 0;
}
@media (max-width: 992px) {
  .partner-list ::before {
    width: 80px;
  }
}
.partner-list ::after {
  content: "";
  width: 196px;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#020202), color-stop(11.79%, rgba(2, 2, 2, 0.991615)), color-stop(21.38%, rgba(2, 2, 2, 0.967585)), color-stop(29.12%, rgba(2, 2, 2, 0.9296)), color-stop(35.34%, rgba(2, 2, 2, 0.879348)), color-stop(40.37%, rgba(2, 2, 2, 0.818519)), color-stop(44.56%, rgba(2, 2, 2, 0.7488)), color-stop(48.24%, rgba(2, 2, 2, 0.671881)), color-stop(51.76%, rgba(2, 2, 2, 0.589452)), color-stop(55.44%, rgba(2, 2, 2, 0.5032)), color-stop(59.63%, rgba(2, 2, 2, 0.414815)), color-stop(64.66%, rgba(2, 2, 2, 0.325985)), color-stop(70.88%, rgba(0, 0, 0, 0.2384)), color-stop(78.62%, rgba(2, 2, 2, 0.153748)), color-stop(88.21%, rgba(2, 2, 2, 0.0737185)), to(rgba(2, 2, 2, 0)));
  background-image: linear-gradient(90deg, #020202 0%, rgba(2, 2, 2, 0.991615) 11.79%, rgba(2, 2, 2, 0.967585) 21.38%, rgba(2, 2, 2, 0.9296) 29.12%, rgba(2, 2, 2, 0.879348) 35.34%, rgba(2, 2, 2, 0.818519) 40.37%, rgba(2, 2, 2, 0.7488) 44.56%, rgba(2, 2, 2, 0.671881) 48.24%, rgba(2, 2, 2, 0.589452) 51.76%, rgba(2, 2, 2, 0.5032) 55.44%, rgba(2, 2, 2, 0.414815) 59.63%, rgba(2, 2, 2, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(2, 2, 2, 0.153748) 78.62%, rgba(2, 2, 2, 0.0737185) 88.21%, rgba(2, 2, 2, 0) 100%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  right: 0px;
}
@media (max-width: 992px) {
  .partner-list ::after {
    width: 80px;
  }
}
.partner-list-1 {
  width: 1296px;
}
.partner-list-2 {
  width: 1296px;
  padding-left: 100px;
}

.swiper-wrapper {
  max-width: 1296px;
}
@media (max-width: 768px) {
  .swiper-wrapper {
    margin-top: 48px;
  }
}
.swiper-wrapper li {
  width: 416px;
  background: rgba(255, 255, 255, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: initial;
}
.swiper-wrapper li p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 48px;
}
@media (max-width: 768px) {
  .swiper-wrapper li p {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
.swiper-pagination {
  position: absolute;
  width: 100px;
  height: 20px;
}
.swiper-pagination .swiper-pagination-bullet {
  /* 設定單個分頁按鈕的顏色 */
  background: #525252;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  /* 設定當前選中分頁按鈕的顏色 */
  background: #ffffff;
}

.callToAction {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #919191;
}
.callToAction-h2 {
  color: #ffffff;
}
@media (max-width: 992px) {
  .callToAction-h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .callToAction-h2 {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
.callToAction-start {
  position: relative;
}
.callToAction-start:hover {
  background: #ffffff;
  color: #020202;
}
.callToAction-start .arrow {
  position: absolute;
  right: 24px;
  top: 50%;
}

/* main */
@media (max-width: 992px) {
  .Pricing-banner-h2 {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .Pricing-banner-h2 {
    font-size: 48px;
  }
}
.Pricing-banner-h3 {
  max-width: 636px;
}
@media (max-width: 768px) {
  .Pricing-banner-h3 {
    font-size: 28px;
  }
}
.Pricing-banner-animation {
  overflow: hidden;
}
.Pricing-banner-animation .deco-img-1,
.Pricing-banner-animation .deco-img-2,
.Pricing-banner-animation .deco-img-3 {
  position: relative;
}
.Pricing-banner-animation .deco-img-1 {
  -webkit-animation: 5s ease-in-out infinite 3.5s;
          animation: 5s ease-in-out infinite 3.5s;
  -webkit-animation-name: decomove;
          animation-name: decomove;
}
.Pricing-banner-animation .deco-img-2 {
  -webkit-animation: 5s ease-in-out infinite 2.5s;
          animation: 5s ease-in-out infinite 2.5s;
  -webkit-animation-name: decomove;
          animation-name: decomove;
}
.Pricing-banner-animation .deco-img-3 {
  -webkit-animation: 5s ease-in-out infinite 1.5s;
          animation: 5s ease-in-out infinite 1.5s;
  -webkit-animation-name: decomove;
          animation-name: decomove;
}
@media (max-width: 768px) {
  .Pricing-banner-animation {
    text-align: center;
  }
  .Pricing-banner-animation img {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .Pricing-h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
.Pricing-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 768px) {
  .Pricing-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px;
  }
}
.Pricing-card {
  width: 49%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 768px) {
  .Pricing-card {
    width: 100%;
    margin-bottom: 20px;
  }
}
.Pricing-content {
  list-style: inside;
  margin-bottom: 136px;
}
.Pricing-content li {
  color: #f2f2f2;
}
.Pricing-num {
  border-top: 1px solid #525252;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .User-Term {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 992px) {
  .User-Term-h3 {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .User-Term-h3 {
    font-size: 20px;
    margin-bottom: 48px;
  }
}
@media (max-width: 992px) {
  .User-Term-list {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .User-Term-list {
    width: 100%;
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .User-Term-h4 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .User-Term-p {
    font-size: 16px;
  }
}
.User-Term-item {
  border-bottom: 1px solid #525252;
}

.question {
  border-bottom: 2px solid #919191;
}
@media (max-width: 768px) {
  .question {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 992px) {
  .question-title {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .question-title {
    margin-top: 80px;
  }
}
.question-list {
  width: 856px;
}
@media (max-width: 992px) {
  .question-list {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .question-list {
    margin-top: 20px;
    margin-bottom: 80px;
    width: 100%;
  }
}
.question-item {
  border: 1px solid #525252;
}
.question-item .remove-icon {
  display: none;
}
.question-item.active .add-icon {
  display: none;
}
.question-item.active .remove-icon {
  display: block;
}
.question .collapse-content p.show {
  display: block;
}