@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.5;
  color: #020202;
  font-weight: 400;
  font-size: 16px;
  background: #1E1E1E;
}

.fw-400 {
  font-weight: 400;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}

.fz-16 {
  font-size: 16px;
}
.fz-20 {
  font-size: 20px;
}
.fz-32 {
  font-size: 32px;
}
.fz-48 {
  font-size: 48px;
}
.fz-80 {
  font-size: 80px;
}
.fz-120 {
  font-size: 120px;
}

.color-w {
  color: #ffffff;
}
.color-f2 {
  color: #f2f2f2;
}
.color-b {
  color: #020202;
}

.mr-4 {
  margin-right: 4px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}

.mb-12 {
  margin-bottom: 12px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-22 {
  margin-bottom: 22px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-160 {
  margin-bottom: 160px;
}

.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-160 {
  margin-top: 160px;
}

.pdr-20 {
  padding-right: 20px;
}

.my-12-24 {
  margin-top: 12px;
  margin-bottom: 24px;
}

.pdx-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pdx-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.pdx-35 {
  padding-left: 35px;
  padding-right: 35px;
}
.pdx-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.pdx-76 {
  padding-left: 76px;
  padding-right: 76px;
}

.pdy-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}
.pdy-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pdy-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.pdy-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pdy-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.pdy-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.font-tac {
  text-align: center;
}

.content-p-font {
  font-size: 14px;
  color: #525252;
}

.title-font-900 {
  font-weight: 900;
  line-height: 1.2;
}

.icon-color-fz-18 {
  color: #020202;
  font-size: 18px;
}

.icon-font {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  padding: 20px 60px 20px 40px;
}

.btn-start {
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.br-16 {
  border-radius: 16px;
}
.br-160 {
  border-radius: 160px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex-jfsp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-style {
  width: 160px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-frame {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 80%;
    padding: 50px 0;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 75%;
    padding: 30px 0;
  }
}

.header {
  border-bottom: 2px solid #ffffff;
}
.header-logo {
  width: 189px;
  height: 40px;
}
.header-meau {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .header-meau {
    display: none;
  }
}
.header-btn {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  display: none;
  /* 在電腦版時不顯示 */
}
.header-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 992px) {
  .header-btn {
    display: block;
  }
}

@media (max-width: 992px) {
  .banner-h2 {
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .banner-h2 {
    font-size: 48px;
  }
}
.banner-start {
  display: block;
  max-width: 160px;
  text-align: center;
}
.banner-start:hover {
  background: #ffffff;
  color: #1E1E1E;
}
.banner-animation {
  text-align: end;
}
@media (max-width: 768px) {
  .banner-animation {
    text-align: center;
  }
  .banner-animation img {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .service-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.service-title-h2 {
  max-width: 414px;
}
@media (max-width: 768px) {
  .service-title-h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
.service-title-h3 {
  max-width: 856px;
}
@media (max-width: 992px) {
  .service-title-h3 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .service-title-h3 {
    font-size: 32px;
  }
}
.service-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992px) {
  .service-list {
    padding: 20px 20px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .service-list {
    width: 100%;
    margin-top: 40px;
    padding: 20px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.service-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #525252;
  max-width: 416px;
}
@media (max-width: 992px) {
  .service-list li {
    margin-right: 12px;
    padding: 40px 20px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .service-list li {
    margin-bottom: 12px;
  }
}

@media (max-width: 992px) {
  .partner-title {
    margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .partner-title {
    font-size: 20px;
  }
}
.partner-list {
  overflow: hidden;
  position: relative;
}
.partner-list ::before {
  content: "";
  width: 196px;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1E1E1E), color-stop(11.79%, rgba(30, 30, 30, 0.991615)), color-stop(21.38%, rgba(30, 30, 30, 0.967585)), color-stop(29.12%, rgba(30, 30, 30, 0.9296)), color-stop(35.34%, rgba(30, 30, 30, 0.879348)), color-stop(40.37%, rgba(30, 30, 30, 0.818519)), color-stop(44.56%, rgba(30, 30, 30, 0.7488)), color-stop(48.24%, rgba(30, 30, 30, 0.671881)), color-stop(51.76%, rgba(30, 30, 30, 0.589452)), color-stop(55.44%, rgba(30, 30, 30, 0.5032)), color-stop(59.63%, rgba(30, 30, 30, 0.414815)), color-stop(64.66%, rgba(30, 30, 30, 0.325985)), color-stop(70.88%, rgba(30, 30, 30, 0.2384)), color-stop(78.62%, rgba(30, 30, 30, 0.153748)), color-stop(88.21%, rgba(30, 30, 30, 0.0737185)), to(rgba(30, 30, 30, 0)));
  background-image: linear-gradient(90deg, #1E1E1E 0%, rgba(30, 30, 30, 0.991615) 11.79%, rgba(30, 30, 30, 0.967585) 21.38%, rgba(30, 30, 30, 0.9296) 29.12%, rgba(30, 30, 30, 0.879348) 35.34%, rgba(30, 30, 30, 0.818519) 40.37%, rgba(30, 30, 30, 0.7488) 44.56%, rgba(30, 30, 30, 0.671881) 48.24%, rgba(30, 30, 30, 0.589452) 51.76%, rgba(30, 30, 30, 0.5032) 55.44%, rgba(30, 30, 30, 0.414815) 59.63%, rgba(30, 30, 30, 0.325985) 64.66%, rgba(30, 30, 30, 0.2384) 70.88%, rgba(30, 30, 30, 0.153748) 78.62%, rgba(30, 30, 30, 0.0737185) 88.21%, rgba(30, 30, 30, 0) 100%);
  position: absolute;
  left: 0;
}
.partner-list ::after {
  content: "";
  width: 196px;
  height: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#1E1E1E), color-stop(11.79%, rgba(30, 30, 30, 0.991615)), color-stop(21.38%, rgba(30, 30, 30, 0.967585)), color-stop(29.12%, rgba(30, 30, 30, 0.9296)), color-stop(35.34%, rgba(30, 30, 30, 0.879348)), color-stop(40.37%, rgba(30, 30, 30, 0.818519)), color-stop(44.56%, rgba(30, 30, 30, 0.7488)), color-stop(48.24%, rgba(30, 30, 30, 0.671881)), color-stop(51.76%, rgba(30, 30, 30, 0.589452)), color-stop(55.44%, rgba(30, 30, 30, 0.5032)), color-stop(59.63%, rgba(30, 30, 30, 0.414815)), color-stop(64.66%, rgba(30, 30, 30, 0.325985)), color-stop(70.88%, rgba(30, 30, 30, 0.2384)), color-stop(78.62%, rgba(30, 30, 30, 0.153748)), color-stop(88.21%, rgba(30, 30, 30, 0.0737185)), to(rgba(30, 30, 30, 0)));
  background-image: linear-gradient(90deg, #1E1E1E 0%, rgba(30, 30, 30, 0.991615) 11.79%, rgba(30, 30, 30, 0.967585) 21.38%, rgba(30, 30, 30, 0.9296) 29.12%, rgba(30, 30, 30, 0.879348) 35.34%, rgba(30, 30, 30, 0.818519) 40.37%, rgba(30, 30, 30, 0.7488) 44.56%, rgba(30, 30, 30, 0.671881) 48.24%, rgba(30, 30, 30, 0.589452) 51.76%, rgba(30, 30, 30, 0.5032) 55.44%, rgba(30, 30, 30, 0.414815) 59.63%, rgba(30, 30, 30, 0.325985) 64.66%, rgba(30, 30, 30, 0.2384) 70.88%, rgba(30, 30, 30, 0.153748) 78.62%, rgba(30, 30, 30, 0.0737185) 88.21%, rgba(30, 30, 30, 0) 100%);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  position: absolute;
  right: 0px;
}
.partner-list-1 {
  width: 1296px;
}
.partner-list-2 {
  width: 1296px;
  padding-left: 100px;
}

.swiper-wrapper {
  max-width: 1296px;
}
@media (max-width: 768px) {
  .swiper-wrapper {
    margin-top: 48px;
  }
}
.swiper-wrapper li {
  width: 416px;
  background: rgba(255, 255, 255, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: initial;
}
.swiper-wrapper li p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 48px;
}
@media (max-width: 768px) {
  .swiper-wrapper li p {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}
.swiper-pagination {
  position: absolute;
  width: 100px;
  height: 20px;
}
.swiper-pagination .swiper-pagination-bullet {
  /* 設定單個分頁按鈕的顏色 */
  background: #525252;
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  /* 設定當前選中分頁按鈕的顏色 */
  background: #ffffff;
}

.big-white {
  max-width: 1920px;
  background: #ffffff;
}
@media (max-width: 992px) {
  .big-white {
    border-radius: 100px;
    padding: 40px 0;
  }
}
@media (max-width: 768px) {
  .big-white {
    border-radius: 80px;
  }
}

@media (max-width: 992px) {
  .tools-h2 {
    font-size: 50px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .tools-h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.tools-input-icon {
  position: relative;
  display: inline-block;
  width: 100%;
}
.tools-input-icon .icon {
  position: absolute;
  left: 43px;
  top: 27px;
  color: #919191;
}
.tools-input-icon .search {
  width: 100%;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  color: #919191;
}
@media (max-width: 992px) {
  .tools-search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}
@media (max-width: 768px) {
  .tools-search {
    margin-bottom: 12px;
  }
}
.tools-search-icon-filter, .tools-search-icon-arrowdown {
  position: relative;
  display: inline-block;
}
.tools-search-icon-filter .icon-filter, .tools-search-icon-arrowdown .icon-filter {
  position: absolute;
  left: 87px;
  top: 50%;
}
.tools-search-icon-filter .icon-arrowdown, .tools-search-icon-arrowdown .icon-arrowdown {
  position: absolute;
  left: 120px;
  top: 50%;
}
@media (max-width: 992px) {
  .tools-search-icon-filter {
    margin-bottom: 24px;
  }
}
@media (max-width: 768px) {
  .tools-search-icon-filter {
    margin-bottom: 12px;
  }
}
@media (max-width: 992px) {
  .tools-search-icon-arrowdown {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
.tools-search-list {
  padding: 8px 16px;
  overflow-x: auto;
}
@media (max-width: 992px) {
  .tools-search-list {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .tools-search-list {
    width: 100%;
  }
}
.tools-search-list li {
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 992px) {
  .tools-search-list li {
    white-space: nowrap;
  }
}
.tools-search-list li a {
  color: #919191;
}
.tools-search-list li a:hover {
  color: #020202;
  font-weight: 700;
}
.tools-search-list .one-black {
  background: #f2f2f2;
}
.tools-search-list .one-black a {
  color: #020202;
}

.list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 992px) {
  .list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.card {
  max-width: 416px;
  border: 1px solid #f2f2f2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1400px) {
  .card {
    width: 33%;
  }
}
@media (max-width: 992px) {
  .card {
    width: 40%;
    margin-bottom: 12px;
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 12px;
  }
}
.card .img {
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}
.card .img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card .list-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.card .list-ai,
.card .list-text {
  border-top: 1px solid #f2f2f2;
}

.pagination {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 768px) {
  .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.pagination li a {
  color: #020202;
}
.pagination li a:hover {
  color: #919191;
}
.pagination .one-black {
  background: #020202;
}
.pagination .one-black a {
  color: #ffffff;
}

.callToAction {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #919191;
}
@media (max-width: 992px) {
  .callToAction {
    padding: 60px 100px;
  }
}
@media (max-width: 768px) {
  .callToAction {
    padding: 60px 80px;
  }
}
.callToAction-h2 {
  color: #ffffff;
}
@media (max-width: 992px) {
  .callToAction-h2 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .callToAction-h2 {
    font-size: 30px;
  }
}
.callToAction-start {
  position: relative;
}
.callToAction-start:hover {
  background: #ffffff;
  color: #1E1E1E;
}
.callToAction-start .arrow {
  position: absolute;
  right: 24px;
  top: 50%;
}

.sitemap {
  border-bottom: 2px solid #919191;
}
@media (max-width: 768px) {
  .sitemap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 60px 0;
  }
}
.sitemap-list {
  color: #ffffff;
  white-space: nowrap;
}
@media (max-width: 992px) {
  .sitemap-list {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  .sitemap-list {
    font-size: 40px;
  }
}
.sitemap-log {
  text-align: end;
}
.sitemap-log img {
  max-width: 50%;
}
@media (max-width: 768px) {
  .sitemap-log {
    text-align: start;
    margin-bottom: 32px;
  }
  .sitemap-log img {
    max-width: 40%;
  }
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
}
.footer-copyright {
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 768px) {
  .footer-copyright {
    margin-bottom: 24px;
  }
}
.footer-social {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}
.footer-social li a:hover {
  color: #919191;
}
.footer-top {
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  position: relative;
}
.footer-top:hover {
  color: #919191;
}
.footer-top .arrow-up {
  position: absolute;
  right: 0px;
  top: 50%;
}
@media (max-width: 768px) {
  .footer-top {
    position: absolute;
    right: 0px;
    top: 32px;
  }
}