.box {
  font-size: 32px;
}

.header {
  width: 500px;
}
@media (max-width: 768px) {
  .header {
    width: 13px;
    font-size: 20px;
  }
}
@media (max-width: 568px) {
  .header {
    width: 8px;
    font-size: 14px;
  }
}

.header h1 {
  background: #000;
  color: blue;
  font-size: 13px;
}

.content {
  background: #ffffff;
  border: 2px solid #ffffff;
  font-size: 80px;
}

.box1 {
  background: rgba(255, 255, 255, 0.0784313725);
  border: 2px solid rgba(255, 255, 255, 0.0784313725);
  font-size: 87.5px;
}