.container {
  max-width: 1296px;
  margin: 0 auto;

  @include pc {
    max-width: 1340px;
  }

  @include pad {
    max-width: 80%;
    padding: 50px 0;
  }

  @include mobile {
    max-width: 75%;
    padding: 30px 0;
  }
}

.header {
  border-bottom: 2px solid $color-5rd;

  &-logo {
    width: 189px;
    height: 40px;
  }

  &-meau {
    align-items: center;

    @include pad {
      display: none;
    }
  }

  //漢堡按鈕
  &-btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: #ffffff;
    display: none;

    &:hover {
      transform: scale(1.1);
    }

    /* 在電腦版時不顯示 */
    @include pad {
      display: block;
    }
  }
}

.banner {
  &-h2 {
    @include pad {
      font-size: 80px;
    }

    @include mobile {
      font-size: 48px;
    }
  }

  //開始按鈕
  &-start {
    display: block;
    max-width: 160px;
    text-align: center;

    &:hover {
      background: $color-5rd;
      color: $color-6rd;
    }
  }

  &-animation {
    text-align: end;

    @include mobile {
      text-align: center;

      img {
        width: 30%;
      }
    }
  }
}

.service {
  &-title {
    @include mobile {
      flex-direction: column;
      padding-left: 40px;
      // align-items: center;
    }

    &-h2 {
      max-width: 414px;

      @include pad {
        width: 30%;
      }

      @include mobile {
        font-size: 20px;
        margin-bottom: 24px;
      }
    }

    &-h3 {
      max-width: 856px;

      @include pad {
        font-size: 40px;
        width: 60%;
      }

      @include mobile {
        font-size: 32px;
        width: 90%;
      }
    }
  }

  &-list {
    flex-wrap: wrap;

    @include pad {
      padding: 20px 20px;
      width: 100%;
    }

    @include mobile {
      width: 100%;
      margin-top: 40px;
      padding: 20px 20px;
      flex-direction: column;
      align-items: center;
    }

    li {
      flex: 1;
      border: 1px solid $color-2nd;
      max-width: 416px;

      @include pad {
        margin-right: 12px;
        padding: 40px 20px;
        width: 100%;
      }

      @include mobile {
        margin-bottom: 12px;
      }
    }
  }
}

.partner {

  &-title {
    @include pad {
      margin-top: 100px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &-list {
    overflow: hidden;
    position: relative;

    & ::before {
      content: "";
      width: 196px;
      height: 40px;
      background-image: $background-linear;
      position: absolute;
      left: 0;
    }

    & ::after {
      content: "";
      width: 196px;
      height: 40px;
      background-image: $background-linear;
      transform: rotate(-180deg);
      position: absolute;
      right: 0px;
    }
  }

  &-list-1 {
    width: 1296px;
  }

  &-list-2 {
    width: 1296px;
    padding-left: 100px;
  }
}

.swiper {

  &-wrapper {
    max-width: 1296px;

    @include mobile {
      margin-top: 48px;
    }

    li {
      width: 416px;
      background: rgba(255, 255, 255, 0.08);
      display: flex;
      flex-direction: column;
      height: initial;

      p {
        flex-grow: 1;
        padding-bottom: 48px;

        @include mobile {
          margin-bottom: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  &-pagination {
    position: absolute;
    width: 100px;
    height: 20px;
  }

  &-pagination .swiper-pagination-bullet {
    /* 設定單個分頁按鈕的顏色 */
    background: $color-2nd;
    opacity: 1;
  }

  &-pagination .swiper-pagination-bullet-active {
    /* 設定當前選中分頁按鈕的顏色 */
    background: $color-5rd;
  }
}


.big-white {
  max-width: 1920px;
  background: $color-5rd;

  @include pad {
    border-radius: 100px;
    padding: 40px 0;
  }

  @include mobile {
    border-radius: 80px;
  }
}

.tools {
  &-h2 {

    @include pad {
      font-size: 50px;
      margin-bottom: 50px;
    }

    @include mobile {
      font-size: 35px;
      margin-bottom: 30px;
    }
  }

  &-input-icon {
    position: relative;
    display: inline-block;
    width: 100%;

    .icon {
      position: absolute;
      left: 43px;
      top: 27px;
      color: $color-4rd;
    }

    .search {
      width: 100%;
      border: 1px solid $color-3rd;
      background: $color-3rd;
      color: $color-4rd;
    }
  }

  &-search {

    @include pad {
      flex-direction: column;
      position: relative;
    }

    @include mobile {
      margin-bottom: 12px;
    }

    &-icon-filter,
    &-icon-arrowdown {
      position: relative;
      display: inline-block;

      .icon-filter {
        position: absolute;
        left: 87px;
        top: calc(50%);
      }

      .icon-arrowdown {
        position: absolute;
        left: 120px;
        top: calc(50%);
      }
    }

    &-icon-filter {
      @include pad {
        margin-bottom: 24px;
      }

      @include mobile {
        margin-bottom: 12px;
      }
    }

    &-icon-arrowdown {
      @include pad {
        position: absolute;
        right: 0px;
        top: 0px;
      }
    }

    &-list {
      padding: 8px 16px;
      overflow-x: auto; //新增滾動軸

      @include pad {
        width: 90%;
      }

      @include mobile {
        width: 100%;
      }

      li {
        padding: 8px 16px;
        display: flex;
        align-items: center;

        @include pad {
          white-space: nowrap; //文字不換行
        }

        a {
          color: $color-4rd;

          &:hover {
            color: $color-1st;
            font-weight: 700;
          }
        }
      }

      .one-black {
        background: $color-3rd;

        a {
          color: $color-1st;
        }
      }
    }
  }
}

.list {
  flex-wrap: wrap;

  @include pad {
    justify-content: space-evenly;
  }
}

.card {
  max-width: 416px;
  border: 1px solid $color-3rd;
  flex-direction: column;

  @include pc {
    width: 33%;
  }

  @include pad {
    width: 40%;
    margin-bottom: 12px;
  }

  @include mobile {
    width: 100%;
    margin-bottom: 12px;
  }

  .img {
    border-radius: 16px 16px 0 0;
    overflow: hidden;

    img:hover {
      transform: scale(1.2); //圖片放大效果
      transition: 0.5s; //圖片放大秒數
    }
  }

  .list-title {
    flex-grow: 1; //防止文字段落不一樣跑行

  }

  .list-ai,
  .list-text {
    border-top: 1px solid $color-3rd;
  }
}

.pagination {
  justify-content: flex-end;

  @include mobile {
    justify-content: center;
  }

  li {
    a {
      color: $color-1st;

      &:hover {
        color: $color-4rd;
      }
    }
  }

  .one-black {
    background: $color-1st;

    a {
      color: $color-5rd;
    }
  }
}

.callToAction {
  align-items: center;
  border-bottom: 2px solid $color-4rd;

  @include pad {
    padding: 60px 100px;
  }

  @include mobile {
    padding: 60px 80px;
  }

  &-h2 {
    color: $color-5rd;

    @include pad {
      font-size: 40px;
    }

    @include mobile {
      font-size: 30px;
    }
  }

  &-start {
    position: relative;

    &:hover {
      background: $color-5rd;
      color: $color-6rd;
    }

    .arrow {
      position: absolute;
      right: 24px;
      top: calc(50%);
    }
  }
}

.sitemap {
  border-bottom: 2px solid $color-4rd;

  @include mobile {
    flex-direction: column-reverse;
    padding: 60px 0;
  }

  &-list {
    color: $color-5rd;
    white-space: nowrap;

    @include pad {
      font-size: 60px;
    }

    @include mobile {
      font-size: 40px;
    }
  }

  &-log {
    text-align: end;

    img {
      max-width: 50%
    }

    @include mobile {
      text-align: start;
      margin-bottom: 32px;

      img {
        max-width: 40%
      }
    }
  }
}

.footer {

  @include mobile {
    flex-direction: column;
    position: relative;
  }

  &-copyright {
    color: $color-5rd;
    flex-grow: 1;

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &-social {
    flex-grow: 4;

    li {
      a:hover {
        color: $color-4rd;
      }
    }

  }

  &-top {
    color: $color-5rd;
    flex-grow: 0;
    position: relative;

    &:hover {
      color: $color-4rd;
    }

    .arrow-up {
      position: absolute;
      right: 0px;
      top: calc(50%);
    }

    @include mobile {
      position: absolute;
      right: 0px;
      top: 32px;
    }
  }
}