$red:#ff0000;
//$自訂變數
.box{font-size: 32px;}
//class 選擇器

@mixin blueSize{
  //   自定變數
  color: blue;
  font-size: 13px;
}

@mixin pad{
  @media (max-width:768px) {
    @content
  }
};
@mixin mobile {
  @media (max-width:568px) {
    @content
  }
};
.header{
  width: 500px;
  @include pad{
    width: 13px;
    font-size: 20px;
  };
  @include mobile{
    width: 8px;
    font-size: 14px;
  }

}

.header h1{
  background: #000;
  @include blueSize;
  //加入mixin
}


@mixin color($color,$size){
  background: $color;
  border: 2px solid $color;
  font-size: $size*2.5;
}

.content {
  @include color(#ffffff, 32px)
}

.box1{
  @include color(#ffffff14, 35px)
}

