
$font-family-base: "Noto Sans TC",sans-serif;
$color-1st: #020202;
$color-2nd: #525252;
$color-3rd: #f2f2f2;
$color-4rd: #919191;
$color-5rd: #ffffff;
$background-linear: linear-gradient(90deg, $color-1st 0%, rgba($color-1st, 0.991615) 11.79%, rgba($color-1st, 0.967585) 21.38%, rgba($color-1st, 0.9296) 29.12%, rgba($color-1st, 0.879348) 35.34%, rgba($color-1st, 0.818519) 40.37%, rgba($color-1st, 0.7488) 44.56%, rgba($color-1st, 0.671881) 48.24%, rgba($color-1st, 0.589452) 51.76%, rgba($color-1st, 0.5032) 55.44%, rgba($color-1st, 0.414815) 59.63%, rgba($color-1st, 0.325985) 64.66%, rgba(#000, 0.2384) 70.88%, rgba($color-1st, 0.153748) 78.62%, rgba($color-1st, 0.0737185) 88.21%, rgba($color-1st, 0) 100%);


// $background-linear: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);