
.sitemap {
  border-bottom: 2px solid $color-4rd;

  @include mobile {
    flex-direction: column-reverse;
    padding: 60px 0;
  }

  &-list {
    color: $color-5rd;
    white-space: nowrap;

    @include pad {
      font-size: 60px;
    }

    @include mobile {
      font-size: 40px;
    }
  }

  &-log {
    text-align: end;

    img {
      max-width: 50%
    }

    @include mobile {
      text-align: start;
      margin-bottom: 32px;

      img {
        max-width: 40%
      }
    }
  }
}

.footer {
  flex-wrap: wrap;

  &-copyright {
    color: $color-5rd;
    flex-grow: 1;

    @include mobile {
      margin-bottom: 24px;
      order: 1;
    }
  }

  &-social {
    flex-grow: 4;

    li {
      a:hover {
        color: $color-4rd;
      }
    }
    @include mobile {
      width: 100%;
      order: 3;
    }

  }

  &-top {
    color: $color-5rd;
    flex-grow: 0;
    background: $color-1st;
    border: 2px solid $color-1st;
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: $color-4rd;
    }

    @include mobile {
      order: 2;
    }
  }
}