//font-weight
.fw {
  &-400 {
    font-weight: 400;
  }

  &-700 {
    font-weight: 700;
  }

  &-900 {
    font-weight: 900;
  }
}

//font-size
.font {
  &-xs { 
    font-size: 16px;
  }

  &-sm {
    font-size: 20px;
  }

  &-md {
    font-size: 32px;
  }

  &-lg {
    font-size: 48px;
  }

  &-xl {
    font-size: 80px;
  }

  &-xxl {
    font-size: 120px;
  }
}

//color-white，color-f2f2f2
.color {
  &-w {
    color: $color-5rd;
  }

  &-f2 {
    color: $color-3rd;
  }
  &-gray{
    color:rgb(145, 145, 145);
  }
}

//margin-right
.mr {
  &-xs {
    margin-right: 4px;
  }

  &-sm {
    margin-right: 6px;
  }

  &-md {
    margin-right: 16px;
  }

  &-lg {
    margin-right: 20px;
  }

  &-xl {
    margin-right: 24px;
  }
}

//margin-bottom
.mb {
  &-xxs {
    margin-bottom: 8px;
  }
  &-xs {
    margin-bottom: 12px;
  }
  &-ms {
    margin-bottom: 16px;
  }
  &-sm {
    margin-bottom: 20px;
  }

  &-md {
    margin-bottom: 22px;
  }

  &-lg {
    margin-bottom: 24px;
  }

  &-xl {
    margin-bottom: 40px;
  }

  &-xxl {
    margin-bottom: 48px;
  }

  &-3xl {
    margin-bottom: 80px;
  }

  &-4xl {
    margin-bottom: 100px;
  }

  &-5xl {
    margin-bottom: 160px;
  }
  &-6xl {
    margin-bottom: 238px;
  }
}

//margin-top
.mt {
  &-xs {
    margin-top: 20px;
  }

  &-sm {
    margin-top: 40px;
  }

  &-md {
    margin-top: 80px;
  }

  &-lg {
    margin-top: 160px;
  }
}

.ml{
  &-md{
    margin-left: 48px;
  }
}


//padding-right
.pr {
  &-sm {
    padding-right: 20px;
  }
}

.pt{
  &-sm {
    padding-top: 20px;
  }
}

.pb {
  &-md {
    padding-bottom: 40px;
  }
}

//margin y軸
.my {
  &-sm {
    margin-top: 12px;
    margin-bottom: 24px;
  }
}

//padding X軸
.px {
  &-xs {
    padding-left: 20px;
    padding-right: 20px;
  }

  &-sm {
    padding-left: 32px;
    padding-right: 32px;
  }

  &-md {
    padding-left: 35px;
    padding-right: 35px;
  }

  &-lg {
    padding-left: 40px;
    padding-right: 40px;
  }

  &-xl {
    padding-left: 76px;
    padding-right: 76px;
  }
}

//padding y軸
.py {
  &-xs {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &-sm {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &-md {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &-lg {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &-xl {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &-xxl {
    padding-top: 160px;
    padding-bottom: 160px;
  }
}


//border-radius
.br {
  &-sm {
    border-radius: 16px;
  }

  &-xl {
    border-radius: 160px;
  }
}


.d-flex {
  display: flex;
}

.d-flex-jfsp {
  display: flex;
  justify-content: space-between;
}

.d-column {
  display: flex;
  flex-direction: column;
}

.jc-end{
  justify-content: flex-end;
}

.d-flex-align-c{
  display: flex;
  align-items: center;
}
.d-none {
  display: none;
}

.d-block {
  display: block;
}
