//全站設定
a {
  text-decoration: none;
  color: $color-5rd;
  &:hover{
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  line-height: 1.5;
  color: $color-1st;
  font-weight: 400;
  font-size: 16px;
  background: $color-1st;
  
}

